/* Workorder List */
#dep-fiori-workorderop-list--enter-workorder-table-listUl thead {
    display: none;
}

#dep-fiori-workorderop-list--enter-workorder-table-tblBody .workorderNumberLabelBlue {
    color: #1B7EAC;
}


/* Workorder Edit */

/* medium-up styles */
@media (min-width: 601px) {
    #dep-fiori-workorderop-detail .sapMInputBaseInner[id*='workorderDesc']{
        width:	50%
    }

}

#dep-fiori-workorderop-detail .sapUxAPObjectPageSectionTitle {
	    border-bottom: 0.125rem solid #427cac;
}

#dep-fiori-workorderop-detail .sapUxAPObjectPageSectionHeader {
	    border-bottom: 0.125rem solid #d1e0ef;
}

#dep-fiori-workorderop-detail .sapUxAPObjectPageSectionHeader {
	    background-color: #eff4f9;
}

#dep-fiori-workorderop-detail .sapUxAPObjectPageContainerNoBar>.sapUxAPObjectPageSection {
    outline: none;
}

#dep-fiori-workorderop-detail .sapUxAPObjectPageSection .sapUxAPObjectPageSubSection:last-child {
    outline: none;
}

#dep-fiori-workorderop-detail .sapMSFF {
	height:	2.0rem;	
}

#dep-fiori-workorderop-detail .sapMSFB {
	line-height: 2.0rem;
	height: inherit;
}

#dep-fiori-workorderop-detail--woOperationsList .sapMListTblSelCol {
    vertical-align: middle;
}

#dep-fiori-workorderop-detail .sapMBtn .sapMBtnIcon[id*='materialAddButton'] {
    line-height: 2rem;
}

#dep-fiori-workorderop-detail .sapUxAPObjectPageSectionTitle {
    color: #427cac;
    font-size: 1rem;
}

#dep-fiori-workorderop-detail .operationsLabelBlue {
    color: #1B7EAC;
}

#dep-fiori-workorderop-create .sapMBtnInner[id*='longTextButton'] {
    background-color: transparent;
    border: none;
    outline: none;
    text-align: left;
}

#dep-fiori-workorderop-create .sapMBtnIcon[id*='longTextButton'] {
    font-size: 2rem;
    text-align: left;
}

#dep-fiori-workorderop-create .borderRadiusCircle { 
    border-radius: 50%; 
}

#dep-fiori-workorderop-detail--matlistSubSection-innerGrid {
    padding: 0;
}

#dep-fiori-workorderop-detail--matlistSubSection-innerGrid > div {
    width: 100%;
    margin: 0;
}

/* Workorder Create */

#dep-fiori-workorderop-create .sapUxAPObjectPageSectionTitle {
        border-bottom: 0.125rem solid #427cac;
}

#dep-fiori-workorderop-create .sapUxAPObjectPageSectionHeader {
        border-bottom: 0.125rem solid #d1e0ef;
}

#dep-fiori-workorderop-create .sapUxAPObjectPageSectionHeader {
        background-color: #eff4f9;
}

#dep-fiori-workorderop-create .sapUxAPObjectPageContainerNoBar>.sapUxAPObjectPageSection {
    outline: none;
}

#dep-fiori-workorderop-create .sapUxAPObjectPageSection .sapUxAPObjectPageSubSection:last-child {
    outline: none;
}

#dep-fiori-workorderop-create .sapUxAPObjectPageSectionTitle {
    color: #427cac;
    font-size: 1rem;
}

#dep-fiori-workorderop-create--objectPageTitle-subtitle {
    color: #1B7EAC;
    font-weight: bold;
}
